.add-cancel-btn-center {
    text-align: center;
    padding-top: 15px;
}
.select-program {
    width: 26%;
    display: inline-block;
}
.container-full {padding: 15px 20px !important;}
.select-program fieldset.demo-fieldset {
    width: 100%;
}
spna.program-left {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}
.demo-fieldset md-input-container {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.layout-wrap.layout-row.select-geo {
    width: 23.25%;
    display: inline-block;
    margin: 0 5%;
}
.layout-wrap.layout-row.select-measures {
    width: 40%;
    display: inline-block;
    text-align: right;
}
table.md-table {
    border: solid 1px #e0e0e0 !important;
}
.select-measures fieldset.demo-fieldset{
    overflow-y: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.container-full md-table-container .ng-isolate-scope.ng-empty {
    max-height: 290px !important;
    width: 99.3% !important;
    display: flow-root;
    overflow-y: auto;
    overflow-x: hidden !important;
}
.container-full md-table-container .ng-isolate-scope.ng-empty thead, .container-full md-table-container .ng-isolate-scope.ng-empty tbody {
    width: 100% !important;
    display: table !important;
}