<div ui-view='header'></div>
<div ng-controller="homeCtrl" class="container-full">
    <div class="select-program">
        <div layout="row">
            <fieldset class="demo-fieldset" >
                <legend class="demo-legend">Select Program </legend>
                <spna class="program-left">Program:</spna>
                    <md-input-container style="margin-right: 10px;">
                        <label>Select Program</label>
                        <md-select ng-model="program">
                            <md-option ng-repeat="program in programData" value="{{program}}">{{program}}</md-option>
                        </md-select>
                    </md-input-container>
            </fieldset>
        </div>
    </div>
    <div layout="row" layout-wrap class="select-measures">
        <div flex="100" layout="column">
            <fieldset class="demo-fieldset" >
            <div class="main-measure">
                <legend class="demo-legend">Select Measures </legend>
                <table ng-repeat="measure in measures">
                    <tbody>
                    <tr>
                        <td><input type="checkbox" ng-click="selectAllMeasures(measure)" ng-checked="checkAllGeoSelected(measure)"></td>
                        <td>{{measure.measure}}</td>
                        <td>{{measure.dependent}}</td>
                    </tr>
                    <tr ng-repeat="geo in geos">
                        <td></td>
                        <td><input type="checkbox" ng-checked="checkSelectedMeasure(measure, geo.geo)" ng-click="selectGeo(measure, geo.geo)"></td>
                        <td>{{geo.geo}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="add-cancel-btn-center">
        <md-button class="md-raised md-primary" ng-click="onAdd()">Add</md-button>
        <md-button class="md-raised md-primary">Cancel</md-button>
    </div>
    <div ng-if="showTable">
        <md-table-container>
            <table md-table ng-model="selected">
                <thead md-head>
                <tr md-row>
                    <th></th>
                    <th></th>
                    <th md-column><span>Program</span></th>
                    <th md-column><span>GEO</span></th>
                    <th md-column>Measure</th>
                    <th md-column>Status</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="data in finalData">
                    <td md-cell><md-button class="md-raised md-primary" ng-click="onAddNewRow(data)">+</md-button></td>
                    <td md-cell><md-button class="md-raised md-primary" ng-click="onDelete($event,data)">-</md-button></td>
                    <td md-cell>{{data.program}}</td>
                    <td md-cell>{{data.measure}}-{{data.geo}}</td>
                    <td md-cell>{{data.dependent}}</td>
                    <td md-cell>Enquired</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <div class="add-cancel-btn-center">
            <md-button class="md-raised md-primary" ng-click="addNewRow()">Ok</md-button>
            <md-button class="md-raised md-primary">Cancel</md-button>
        </div>
    </div>
</div>
